/SkeletonCodeBackup/*

\.vscode/ipch/15f07dd68d40c6d9/KNOWLEDGE\.ipch

\.vscode/ipch/15f07dd68d40c6d9/mmap_address\.bin

\.vscode/ipch/711b6a03e7c43cfc/MAIN\.ipch

\.vscode/ipch/711b6a03e7c43cfc/mmap_address\.bin

\.vscode/ipch/b506c1509a522122/CHATBOT\.ipch

\.vscode/ipch/b506c1509a522122/mmap_address\.bin

\.vscode/settings\.json
